<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs")%>

    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Blog Title:</label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog Snippet: </label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body">Blog Body: </label>
        <textarea name="body" id="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>
    <%- include("../partials/footer.ejs")%>
    <script src="/main.js"></script>
  </body>
</html>
