<footer>
  <div class="copy">
    <small>
      Copyright &copy; <span id="year">2021</span> Powered by
      <a href="https://codeconcept.netlify.app" target="_blank"
        ><strong>Code Concept</strong></a
      >
    </small>
  </div>
  <div>
    <small>
      <a href="#" class="links">Team</a>
      <a href="#" class="links">Contact</a>
      <a href="#" class="links">Privacy</a>
    </small>
  </div>
</footer>
