<footer>
  <div class="copy">
    <small>
    Copyright &copy; Blog Concept || Powered by
    <a href="https://codeconcept.netlify.app" target="_blank"
      ><strong>Code Concept</strong></a
    >
    <span id="year">2021</span></small
  >
  </div>
  <div>
  <small>
      <a href="#" class="links">Team</a>
    <a href="#" class="links">Contact</a>
    <a href="#" class="links">Privacy</a>
  </small>
  </div>
</footer>
