<footer>
  <small>
    Copyright &copy; Blog Concept || Powered by
    <a href="https://codeconcept.netlify.app" target="_blank"
      ><strong>Code Concept</strong></a
    >
    <span id="year">2021</span></small
  >
</footer>
