<footer>
  Copyright &copy; Blog Concept <span id="year">2021</span>
  <script>
    const year = document.querySelector("#year");
    let date = new Date();
    year.textContent = date.getFullYear();
  </script>
</footer>
