 <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Concept</h1></a>
        <p>The blog concept site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>