<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Concept | <%= title%></title>
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: sans-serif;
      }
      section {
        width: 100vw;
        /* height: 85vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* gap: 5.5rem; */
      }
      .error {
        text-align: center;
      }
      .error h1 {
        font-size: 4rem;
        color: #463897;
      }
      .error p {
        font-style: italic;
        color: #414141;
        margin-top: 0.5rem;
      }
      nav {
        background-color: #332291;
        color: #fff;
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      nav a {
        color: #fff;
        text-decoration: none;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
      }
      nav a:hover {
        color: #ccc;
      }

      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/"><h1>Blog Concept</h1></a>
        <p>The blog concept site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <section>
      <div class="container">
        <div class="error content">
          <h1>404 Page!</h1>
          <p>...Oops! Page cannot be found.</p>
        </div>
        <div class="robots">
          <img
            src="https://foomandoonian.files.wordpress.com/2013/07/google-404-robot.png"
            alt="error-404-robots"
          />
        </div>
      </div>
      <div>
        <a href="/" class="return-home">Return home</a>
      </div>
    </section>
  </body>
</html>
