<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs")%>
    <section>
      <div class="container">
        <div class="error content">
          <h1>404 Page!</h1>
          <p>...Oops! Page cannot be found.</p>
        </div>
        <div class="robots">
          <img
            src="https://foomandoonian.files.wordpress.com/2013/07/google-404-robot.png"
            alt="error-404-robots"
          />
        </div>
      </div>
      <div>
        <a href="/" class="return-home">&LeftArrow; Return home</a>
      </div>
    </section>
    <%- include("./partials/footer.ejs")%>
    <script src="/main.js"></script>
  </body>
</html>
