<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs")%>
    <section id="home-sec">
      <article class="home">
        <h1>About Page</h1>
        <% if (paragraphs.length > 0) {%> <% paragraphs.forEach(paragraph => {%>
        <p><%= paragraph.snippet%></p>
        <br />
        <%})%> <%}else {%>
        <p>There are no information to display.</p>
        <%}%>
        <div>
          <img
            src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w"
            alt="person-smiling"
            width="100"
            height="100"
          />
        </div>
      </article>
    </section>
    <%- include("./partials/footer.ejs")%>
    <script src="/main.js"></script>
  </body>
</html>
